*{
    margin: 0%;
    padding: 0%;
}
header{
    color: rgb(206, 1, 114);
    background-color: rgb(0, 0, 0);
    width: 99.299%;
    height: 125px;
    border-style: inset;
    border-color:rgb(206, 1, 114);
    margin-left: 3px;
    font-family: "Kanit", sans-serif;
    font-weight: 700;
    font-style: italic;
    width: 100%;
    overflow:hidden;
}
#headerimg {
    height: 80px;
    width: 150px;
    padding-bottom: 15%;
}
.header1{
    float: left;
    margin-left: 7%;
    margin-right: 6%;
    margin-top: 16px;
}
#title{
    text-align: center;
}

#search{
    margin-top: 10%;
}
a:link{
    color: rgb(192, 171, 171);
    background-color: transparent;
    text-decoration: none;
}
a:visited {
    color: rgb(0, 0, 0);
    background-color: transparent;
    text-decoration: none;
  }
  
  a:hover {
    color: rgb(207, 175, 202);
    background-color: transparent;
    text-decoration: none;
  }
  
  a:active {
    color: rgb(0, 0, 0);
    background-color: transparent;
    text-decoration: none;
  }
nav{
    width: 100%;
    overflow:hidden;
  }
.linkbox{
    font-family: "Kanit", sans-serif;
    font-weight: 700;
    font-style: italic;
    float: left;
    background-color: rgb(206, 1, 114);
    width: 33%;
    height: 20px;
    text-align: center;
    padding-top: 20px;
    border-style: inset;
    border-collapse: inherit;
    border-color: rgb(29, 25, 25);
    padding-bottom: 0.5%;
}
main{
    padding-top: 20%;
    background-color: black;
}
#centerbox{
    float:left;
    background-color: rgb(0, 0, 0);
    height: 570px;
    width: 20%;
    padding-right: 50%;

}